body {
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0f0f0f; 
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 60px;
  background-color: #1c1c1c; 
  border-bottom: 1px solid #494848; 
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo img {
  height: 150px;
  width: 170px;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 35px;
}
.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  position: relative;
}
.nav-links li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background: #ff0000;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}
.nav-links li a:hover::after {
  width: 100%;
} 
.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.icon {
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.icon:hover {
  color: #f71111;
}
.profile-icon {
  font-size: 24px;
}